
coreconcvar.pdf
coreconcvar.pdf
fitk.pdf
mantleconc.pdf
reactions.pdf
var_b18.pdf
reactions.pdf
var_b18.pdf
var_b18_coreconc_NMg=15.pdf
var_b18_coreconc_NMg=3.pdf
var_b18_coreconc_NMg=30.pdf
var_b18_coreconc_NMg=4.pdf
var_b18_coreconc_NMg=40.pdf
var_b18_coreconc_NMg=5.pdf
var_b18_coreconc_NMg=6.pdf
var_b18_Ds.pdf
var_b18_E.pdf
var_compMg.pdf
var_Kd.pdf
var_mantleconc_reaction=1.pdf
var_mantleconc_reaction=2.pdf
var_mantleconc_reaction=3.pdf
var_synthesis.pdf
*.pdf
